.custom-carousel {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%; 
}

.collegeDetail-carousel h1, .collegeDetail-carousel h3 {
    letter-spacing: 10px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.247);
    padding: 10px;
}