.backdrop {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

.backdrop img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    border-radius: 30px;
}

.image-content {
    letter-spacing: 10px;
    position: relative;
    height: 600px;
    text-align: center;
    vertical-align: text-bottom;
    padding-top: 25%;
    padding-bottom: 25%;
}

.about-college {
    text-align: justify;
    padding: 40px 30px;
    font-weight: 500;
}

.images {
    width: 90%;
    text-align: center;
    align-items: center;
}

.about-college p, .about-college li {
    font-size: 18px;
    line-height: 2;
    color: rgb(75, 75, 75);
}