body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-backdrop {
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/2a/5a/4b/2a5a4b69a09bdb4c651bd29c64bdcc11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}